/* Colores predefinidos*/
:root {
    --color-1: #FFCD00;
    --color-2: #003087;
    --color-3: #CE1126;
    --color-4: #000000e3;
    --color-primario: #e9e4df;
    --color-secundario: #fdf4f4;
    --color-hover: #FFE759;
}

[data-theme="dark"] {
    --color-primario: #121212;
    --color-secundario: #090f66bb;
    --color-1: #FFCD00;
    --color-2: #90CAF9;
    --color-3: #EF9A9A;
    --color-4: #ffffffe3;
    --color-hover: #310966;
}

/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Incluye el padding y border en el tamaño total del elemento */
    box-sizing: border-box;

}

body {
    height: 100%;
    background-color: var(--color-primario);
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}



header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 40px;
}

/*Estilos Dark Mode*/
#toogle-theme {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    background-color: #ccc;
    border-radius: 34px;

}

#toogle-theme input {
    display: none;
}

.slider {
    content: "";
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 26px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.slider::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    top: 2px;
    bottom: 2px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

input:checked+.slider::before {
    transform: translateX(24px);
}

h1 {
    font-size: 2.5rem;
}

#amarillo {
    color: var(--color-1);
}

#azul {
    color: var(--color-2);
}

#rojo {
    color: var(--color-3);
}


.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    background-color: var(--color-hover);
    border-left: 5px solid var(--color-2);
}

.card-title {
    font-size: 1.5rem;
    margin: 10px 0;
    color: var(--color-2);
}

.card-description {
    font-size: 1rem;
    margin: 10px 0;
    color: var(--color-4);
}

.card-population,
.card-surface,
.card-capital {
    font-weight: bold;
    color: var(--color-4);
}


p {
    text-align: justify;
    padding: 0 15px;
    font-size: 0.9rem;
}

.card-population {
    margin-top: 10px;
}

.card-capital {
    margin-bottom: 15px;
}

sup {
    font-size: 0.6rem;
}

/* Móvil por defecto*/
#cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 400px;
    max-width: 400px;
    height: auto;
    background-color: var(--color-secundario);
    border-radius: 10px;
    margin: 10px;
    border-left: 5px solid var(--color-1);

}

/* Tablet*/
@media (min-width: 768px) {
    #cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;

    }

    .card {
        width: 400px;
        max-width: 400px;
        min-height: 400px;
        background-color: var(--color-secundario);
        border-radius: 10px;
        margin: 10px;
        border-left: 5px solid var(--color-1);
    }
}

/* Desktop */
@media (min-width: 1024px) {
    #cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        align-items: stretch;

    }

    .card {
        width: 400px;
        max-width: 400px;
        min-height: 400px;
        background-color: var(--color-secundario);
        border-radius: 10px;
        margin: 10px;
        border-left: 5px solid var(--color-1);
    }
}